body{
    background-color: hsl(210, 46%, 95%);
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
}
.container{
    display: grid;
    justify-content: center;
    align-items: center; 
    margin-top: 10%;
}

.wrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
    width: 900px;
    height: 400px;
}
.image{
    background-image: url("./images/drawers.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    border-radius: 20px 0 0px 20px;
}

.body-content{
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    padding: 30px 30px 0;
}
.body-content h2{
    color: hsl(217, 19%, 35%);
}
p{
    font-size: 13px;
}
.authorization{
    display: flex;
    margin-top: 30px;
}
.author{
    margin-top: 30px;
    max-width: 250px;
    display: flex;
}
.author p{
    margin-left: 10px;
}
.author b{
    color: hsl(217, 19%, 35%);
}
.author img{
    width: 50px;
    border-radius: 50%;
    float: left;
}
.drop-up{
    position: relative;
    display: block;
    left: 45%;
    width: 80%;
    cursor: pointer;
}
.drop-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none;
    margin-top: 45px;
}
.drop-up-content{
    display: none;
    position: absolute;
    color: hsl(210, 46%, 95%);
    left: -50%;
    top: -25%;
    min-width: 250px;
    height: 30px;
    padding: 10px;
    background-color: hsl(217, 19%, 35%);
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 5px 6px hsl(210, 46%, 95%);
    z-index: 1;
    border-radius: 10px;
}
.drop-up-content::after{
    content: ' ';
    width: 0;
    height: 0;
    position: relative;
    top: 100%;
    left: -35%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid hsl(217, 19%, 35%);
    clear: both;
}
.drop-up:hover .drop-up-content{
    display: flex;
}
.drop-up:hover .drop-btn{
    background-color: hsl(212, 23%, 69%);
}
.drop-up-content p{
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 500;
}
.drop-up-content a{
    margin: 10px;
}

/*Media Query*/

@media screen and (max-width:770px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .wrapper{
        border-radius: 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 500px;
    }
    .image{
        background-image: url("./images/drawers.jpg");
        background-size: cover;
        background-position: center;
        min-width: 100%;
    }
    .body-content h2{
        color: hsl(217, 19%, 35%);
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
    .authorization{
        display: flex;
        margin-top: -20px;
    }
    .author{
        margin-top: 10px;
        max-width: 150px;
        display: flex;
    }
    .author p{
        margin-left: 10px;
    }
    .author b{
        color: hsl(217, 19%, 35%);
    }
    .author img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
    }
    .drop-up{
        position: relative;
        display: block;
        left: 40%;
        width: 80%;
        cursor: pointer;
    }
    .drop-btn{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border-style: none;
        margin-top: 25px;
    }
    .drop-up-content{
        display: none;
        position: absolute;
        color: hsl(210, 46%, 95%);
        min-width: 250px;
        height: 20px;
        padding: 5px;
        background-color: hsl(217, 19%, 35%);
        justify-content: center;
        align-items: center;
        border-style: none;
    }
    .drop-up-content::after{
        display: none;
    }
    .drop-up:hover .drop-up-content{
        display: flex;
    }
    .drop-up:hover .drop-btn{
        background-color: hsl(212, 23%, 69%);
    }
    .drop-up-content p{
        letter-spacing: 3px;
        font-size: 13px;
        font-weight: 500;
    }
    .drop-up-content a{
        margin: 10px;
    }
    footer{
        position: absolute;
        top: 110%;
        text-align: center;
    }
    
}























footer{
    position: absolute;
    bottom: 5%;
    left: 40%;
    text-align: center;
}
